[submodule "tpls/primme"]
	path = tpls/primme
	url = https://github.com/jeremy-myers/primme.git
	branch = eloy/index-conv-test-fun
[submodule "tpls/kokkos"]
	path = tpls/kokkos
	url = https://github.com/kokkos/kokkos
[submodule "tpls/kokkos-kernels"]
	path = tpls/kokkos-kernels
	url = https://github.com/kokkos/kokkos-kernels.git
[submodule "tpls/json"]
	path = tpls/json
	url = https://github.com/nlohmann/json.git
[submodule "src/matlab/SKETCH"]
	path = src/matlab/SKETCH
	url = git@github.com:jeremy-myers/SKETCH.git
